pre {
    padding: 0.75em;
    background-color: #fafafa;
    overflow: hidden;
    text-overflow: ellipsis;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;

}

/* Make inline code bold but code blocks normal */
code {
    font-weight: 500;
    color: #ffcf00;
}

pre > code {
    font-weight: 400;
    color: black;
}

main h2 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
}