/* Article header */
.article-title {
    border-bottom: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 0;
}

.article-infos {
    font-size: 0.8em;
    color: #303030;
}

/* Content styling */
main>div {
    padding: 0em 1em;
}

main h3 {
    text-decoration: underline;
    margin-bottom: 0;
}

main h2 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

main img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* Code styling */
pre {
    padding: 12px;
    background-color: whitesmoke;
    overflow: scroll;
    text-overflow: ellipsis;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;
    overflow: scroll;
    text-overflow: ellipsis;
    font-weight: 500;
    color: burlywood;
}

pre>code {
    font-weight: 400;
    color: black;
}
pre code.hljs {
    display: block;
}

code.hljs {
    padding: 3px;
}

.hljs {
    color: #545454
}

.hljs-comment,
.hljs-quote {
    color: #696969
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: #d91e18
}

.hljs-attribute,
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: #aa5d00
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
    color: green
}

.hljs-section,
.hljs-title {
    color: #007faa
}

.hljs-keyword,
.hljs-selector-tag {
    color: #7928a1
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

@media screen and (-ms-high-contrast:active) {
    .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-quote,
    .hljs-string,
    .hljs-symbol,
    .hljs-type {
        color: highlight
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: 700
    }
}