pre {
    padding: 12px;
    background-color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
}

code {
    font-family: 'Roboto Mono', monospace !important;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make inline code coloured but code blocks normal */
code {
    font-weight: 500;
    color: burlywood;
}

pre > code {
    font-weight: 400;
    color: black;
}

main h2 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
}