.article-list {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}

.article-card {
    width: 300px;
    aspect-ratio: 1/1;

    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 600px) {
    .article-card {
        width: 80%;
    }
}

.article-card>a {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.article-card:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
}

.article-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article-pub-date {
    font-size: 0.8em;
    color: #303030;
}

@media screen and (max-width: 600px) {
    .article-list {
        width: 100%;
    }
}
