pre {
    padding: 12px;
    background-color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make inline code coloured but code blocks normal */
code {
    font-weight: 500;
    color: burlywood;
}

p {
    margin: 0.5em 0;
}

pre > code {
    font-weight: 400;
    color: black;
}

h3 {
    margin-bottom: 0;
    text-decoration: underline;
}

main h2 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

main img {
    display: block;
    margin: auto;
}
