.portfolio-entry {
    margin: 0em 1em 1em 1em;
}

.portfolio-entry:hover a{
    text-decoration: none;
}


.portfolio-name{
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-description {
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-entry img{
    width: 100%;
    max-width: 100%;
}

.portfolio-entry figure {
    margin: 1em 1em 0;
    border: 2px solid black;
    padding: 1em;
    box-sizing: border-box;
    max-width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
}

.portfolio-entry figcaption {
    font-size: 0.75em;
}

.portfolio-gifs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}