#contact-form {
    background-color: white;
    border: 2px black solid;
    position:fixed;
    right: 15px;
    bottom: -350px;
    width: 300px;
    /* height: 350px; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0.35rem 1rem 1rem;
    transition: 0.4s bottom ease-in-out;
    box-shadow: 3px 3px 6px black;
}

#contact-header {
    margin: 0;
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

#contact-header > *{
    margin: 0;
}

#contact-header > img {
    height: 36px;
    transition: 0.4s transform ease-in-out;
    cursor: pointer;
}

#contact-form > textarea,
#contact-form > input,
#contact-form > button {
    border: 2px black solid;
    margin: 1rem 0 0;
}

#contact-form >textarea {
    resize:vertical;
    height: 100%;
}

#submit {
    background-color: white;
    font-size: 1em;
    border: 2px solid black;
    transition: 0.5s all;
}

#submit:hover {
    box-shadow: 0 0 5px black;
}

@media screen and (max-width: 600px) {
    #contact-form {
        z-index: unset;
        position: inherit;
        box-shadow: unset;
        margin: 1em;
        width: 65%;
    }
    #open-close-button {
        display: none;
    }
}
